
form {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 100px;
font-weight: bold;
font-size: larger;
flex-direction: row;
}

body h1{
  text-align: center;
  color:rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html{
background: rgb(0,0,0);
background: linear-gradient(90deg, rgb(100, 100, 100) 0%, rgba(133,133,133,1) 20%, rgba(145,145,145,1) 80%, rgba(100, 100, 100) 100%);
}

input[type="submit"]:hover{
background-color: rgb(108, 108, 108);
}